div#plugin_enforcesummary_wrapper {
    font-size: 85%;
    /* border: 1px solid #ccc; */
}
div#plugin_enforcesummary_wrapper ul {
	margin: 2px 0 0 0;
}
div#plugin_enforcesummary_wrapper .li {
    color: #cc9999 !important;
}

.plugin_enforcesummary_missing {
    background-color:  #ffcccc;
}

